
.about{
 margin: 30px 0;
 padding: 20px 0;
 display: flex;
}
.about-area{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
    padding-top: 50px;
}

.about-text{
    background-color: #081839;
    text-align: left;
    padding: 50px ;
 
}
.content{
    color: #19BDE4;
}
.image{
    background-position: center;
    background-size: cover;
}
.area{
text-align: justify;
}